{{!-- pages/page-two.hbs --}}

{{#> layouts/base title="Page Two" }}

  {{!-- Let's add a second stylesheet for this layout. --}}
  {{#*inline "head-block"}}
    <link rel="stylesheet" href="some-other-styles.css">
  {{/inline}}

  {{!-- Let's change the hero image for this layout. --}}
  {{#*inline "hero-block"}}
    {{> includes/hero
      hero-src="http://fpoimg.com/400x400"
      hero-alt="Hero 2 alt title"
    }}
  {{/inline}}

  {{!-- Let's override the "footer-block" content. --}}
  {{#*inline "footer-block"}}
    <p>오버라이딩 (tow) footer.</p>
  {{/inline}}

  {{!-- Let's add a script for this layout. --}}
  {{#*inline "scripts-block"}}
    <script src="new-script.js"></script>
  {{/inline}}


  {{/layouts/base}}


  {{#> final-block}}
    파이날 블럭
  {{/final-block}}


  {{#> final2-block}}
    {{#> ff-block }}
    ...
    {{/ff-block}}
  {{/final2-block}}


 {{#*inline "ff-block"}}
    내부 스크립트 
  {{/inline}}


{{#> ff2-block}}

   ff 파이날 블럭 내부
  {{#> includes/sub}}
    { includes/sub 의 기본값
{{!--      
      {{#*inline "sub-block"}}
      오버 서브 블럭
      {{/inline}}
 --}} 

  {{/includes/sub}}

  {{#> includ}}
    includ 기본값
  {{/includ}}

{{/ff2-block}}
